{% load static %}
<footer>
    <div class="footer-main pad-120 white-clr">
        <div class="theme-container container">               
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-widget">
                    <a href="#">  <img src="{% static 'assets/img/logo/logo-black.png' %}" alt="logo" /> </a>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget">
                    <h2 class="title-1 fw-900">quick links</h2>
                    <ul>
                        <li> <a href="#">sitemap</a> </li>
                        <li> <a href="#">pricing</a> </li>
                        <li> <a href="#">payment method</a> </li>
                        <li> <a href="#">support</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget">
                    <h2 class="title-1 fw-900">important links</h2>
                    <ul>
                        <li> <a href="#">themeforest</a> </li>
                        <li> <a href="#">envato</a> </li>
                        <li> <a href="#">audiojungle</a> </li>
                        <li> <a href="#">videohibe</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget">
                    <h2 class="title-1 fw-900">get in touch</h2>
                    <ul class="social-icons list-inline">
                        <li class="" data-wow-offset="50" data-wow-delay=".20s"> <a href="#" class="fa fa-facebook"></a> </li>
                        <li class="" data-wow-offset="50" data-wow-delay=".25s"> <a href="#" class="fa fa-twitter"></a> </li>
                        <li class="" data-wow-offset="50" data-wow-delay=".30s"> <a href="#" class="fa fa-google-plus"></a> </li>
                        <li class="" data-wow-offset="50" data-wow-delay=".35s"> <a href="#" class="fa fa-linkedin"></a> </li>
                    </ul>
                    <ul class="payment-icons list-inline">
                        
                        <li class="" data-wow-offset="50" data-wow-delay=".20s"> <a href="#"> <img alt="#" src="{% static 'assets/img/icons/payment-1.png' %}" /> </a> </li>
                        <li class="" data-wow-offset="50" data-wow-delay=".20s"> <a href="#"> <img alt="#" src="{% static 'assets/img/icons/payment-2.png' %}" /> </a> </li>
                        <li class="" data-wow-offset="50" data-wow-delay=".20s"> <a href="#"> <img alt="#" src="{% static 'assets/img/icons/payment-3.png' %}" /> </a> </li>
                        <li class="" data-wow-offset="50" data-wow-delay=".20s"> <a href="#"> <img alt="#" src="{% static 'assets/img/icons/payment-4.png' %}" /> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="theme-container container">               
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p> © Copyright 2016, All rights reserved </p>                            
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    
                </div>
            </div>
        </div>
    </div>
</footer>