<div class="top-bar font2-title1 white-clr">
    <div class="theme-container container">
        <div class="row">
            <div class="col-md-6 col-sm-5">
                <ul class="list-items fs-10">
                    <li><a href="#">sitemap</a></li>
                    <li class="active"><a href="#">Privacy</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-7 fs-12">
                <p class="contact-num">  <i class="fa fa-phone"></i> Call us now: <span class="theme-clr"> +880-1756-390-370 </span> </p>
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
        <a href="/logout" class="sign-in fs-12 theme-clr-bg">SIGN OUT</a>
    {% else %}
        <a href="/login" class="sign-in fs-12 theme-clr-bg"> SIGN IN </a>
    {% endif %}
</div>