{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<section class="theme-breadcrumb pad-50">                
    <div class="theme-container container ">  
        <div class="row">
            <div class="col-sm-8 pull-left">
                <div class="title-wrap">
                    <h2 class="section-title no-margin">Pricing & plans</h2>
                    <p class="fs-16 no-margin">Know about our pricing & plans</p>
                </div>
            </div>
            <div class="col-sm-4">                        
                <ol class="breadcrumb-menubar list-inline">
                    <li><a href="#" class="gray-clr">Home</a></li>                                   
                    <li class="active">Pricing</li>
                </ol>
            </div>  
        </div>
    </div>
</section>
<!-- /.Breadcrumb -->

<!-- Pricing & Plans -->
<section class="pricing-wrap pad-80">                
    <div class="theme-container container">                            
        
        <div class="row pricing-2 pad-50">
            <div class="col-md-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                <div class="pricing-box clrbg-before clrbg-after transition">
                    <div class="block-inline text-center">
                        <div class="pad-10"></div>
                        <h3 class="title-2">FREE</h3>
                        <h2 class="section-title fs-36">$0</h2>
                        <p>/mo</p>
                    </div>
                    <div class="price-content-2">                                    
                        <ul class="title-2">
                            <li> Annual Maintenance Fee: <span class="gray-clr">$5</span> </li>
                            <li> Receiving Fee - Per Package: <span class="gray-clr">$7</span> </li>
                            <li> Oversized Package Receiving Fee - Per Package: <span class="gray-clr">$7</span> </li>
                            <li> Pallet-sized Package Receiving Fee - Per Package: <span class="gray-clr">$10</span> </li>
                            <li> Consolidation Fee - Per Package Consolidated: <span class="gray-clr">-</span> </li>
                            <li> Consolidation Packing Material Fee - Per Consolidation: <span class="gray-clr">-</span> </li>
                            <li> Photograph Fee (per 3): <span class="gray-clr">$5</span> </li>
                            <li> Extra Padding Fee: <span class="gray-clr">$6</span> </li>

                            <li> Consolidation: <span class="gray-clr">no</span> </li>
                            <li> Complex Consolidations - Combining consolidated packages: <span class="gray-clr">no</span> </li>
                            <li> Consolidation Limit - Maximum number of packages per consolidation: <span class="gray-clr">no</span> </li>

                            <li> Photos: <span class="gray-clr">yes</span> </li>
                            <li> Extra Padding: <span class="gray-clr">yes</span> </li>
                            <li> Special Requests: <span class="gray-clr">yes</span> </li>

                            <li> Free Storage Days - Regular Sized Packages: <span class="gray-clr">7</span> </li>
                            <li> Free Storage Days - Oversized Packages: <span class="gray-clr">7</span> </li>
                            <li> Free Storage Days - Pallet-sized Packages: <span class="gray-clr">3</span> </li>
                            <li> Storage Fee / Day - Regular Size Packages: <span class="gray-clr">$1</span> </li>
                            <li> Storage Fee / Day - Oversized Packages: <span class="gray-clr">$4</span> </li>
                            <li> Storage Fee / Day - Pallet-sized Packages: <span class="gray-clr">$5</span> </li>
                        </ul>
                    </div>
                    <div class="text-center order-2">
                        <a href="#" class="btn-round">Select</a>
                    </div>
                    <div class="pricing-hover clrbg-before clrbg-after transition"></div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                <div class="pricing-box clrbg-before clrbg-after transition">
                    <div class="block-inline text-center">
                        <div class="pad-10"></div>
                        <h3 class="title-2"> GOLD </h3>
                        <h2 class="section-title fs-36">$9.99</h2>
                        <p>/mo</p>
                    </div>
                    <div class="price-content-2">                                    
                        <ul class="title-2">
                            <li> Annual Maintenance Fee: <span class="gray-clr">FREE</span> </li>
                            <li> Receiving Fee - Per Package: <span class="gray-clr">$4</span> </li>
                            <li> Oversized Package Receiving Fee - Per Package: <span class="gray-clr">$4</span> </li>
                            <li> Pallet-sized Package Receiving Fee - Per Package: <span class="gray-clr">$5</span> </li>
                            <li> Consolidation Fee - Per Package Consolidated: <span class="gray-clr">$2</span> </li>
                            <li> Consolidation Packing Material Fee - Per Consolidation: <span class="gray-clr">$5</span> </li>
                            <li> Photograph Fee (per 3): <span class="gray-clr">$5</span> </li>
                            <li> Extra Padding Fee: <span class="gray-clr">$5</span> </li>

                            <li> Consolidation: <span class="gray-clr">yes</span> </li>
                            <li> Complex Consolidations - Combining consolidated packages: <span class="gray-clr">no</span> </li>
                            <li> Consolidation Limit - Maximum number of packages per consolidation: <span class="gray-clr">5</span> </li>
                            
                            <li> Photos: <span class="gray-clr">yes</span> </li>
                            <li> Extra Padding: <span class="gray-clr">yes</span> </li>
                            <li> Special Requests: <span class="gray-clr">yes</span> </li>

                            <li> Free Storage Days - Regular Sized Packages: <span class="gray-clr">30</span> </li>
                            <li> Free Storage Days - Oversized Packages: <span class="gray-clr">30</span> </li>
                            <li> Free Storage Days - Pallet-sized Packages: <span class="gray-clr">10</span> </li>
                            <li> Storage Fee / Day - Regular Size Packages: <span class="gray-clr">$1</span> </li>
                            <li> Storage Fee / Day - Oversized Packages: <span class="gray-clr">$3</span> </li>
                            <li> Storage Fee / Day - Pallet-sized Packages: <span class="gray-clr">$3.75</span> </li>
                        </ul>
                    </div>
                    <div class="text-center order-2">
                        <a href="#" class="btn-round"> Select </a>
                    </div>
                    <div class="pricing-hover clrbg-before clrbg-after transition"></div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".60s">
                <div class="pricing-box clrbg-before clrbg-after transition">
                    <div class="block-inline text-center">
                        <div class="pad-10"></div>
                        <h3 class="title-2"> Platinum </h3>
                        <h2 class="section-title fs-36">$44.99</h2>
                        <p>/mo</p>
                    </div>
                    <div class="price-content-2">
                        <ul class="title-2">
                            <li> Annual Maintenance Fee: <span class="gray-clr">FREE</span> </li>
                            <li> Receiving Fee (Per Package): <span class="gray-clr">$1</span> </li>
                            <li> Oversized Package Receiving Fee (Per Package): <span class="gray-clr">$1</span> </li>
                            <li> Pallet-sized Package Receiving Fee (Per Package): <span class="gray-clr">$3</span> </li>
                            <li> Consolidation Fee (Per Package Consolidated): <span class="gray-clr">$1</span> </li>
                            <li> Consolidation Packing Material Fee (Per Consolidation): <span class="gray-clr">$5</span> </li>
                            <li> Photograph Fee (per 3): <span class="gray-clr">$5</span> </li>
                            <li> Extra Padding Fee: <span class="gray-clr">$4</span> </li>

                            <li> Consolidation: <span class="gray-clr">yes</span> </li>
                            <li> Complex Consolidations - Combining consolidated packages: <span class="gray-clr">yes</span> </li>
                            <li> Consolidation Limit (Maximum number of packages per consolidation): <span class="gray-clr">Unlimited</span> </li>

                            <li> Photos: <span class="gray-clr">yes</span> </li>
                            <li> Extra Padding: <span class="gray-clr">yes</span> </li>
                            <li> Special Requests: <span class="gray-clr">yes</span> </li>

                            <li> Free Storage Days - Regular Sized Packages: <span class="gray-clr">45</span> </li>
                            <li> Free Storage Days - Oversized Packages: <span class="gray-clr">45</span> </li>
                            <li> Free Storage Days - Pallet-sized Packages: <span class="gray-clr">15</span> </li>
                            <li> Storage Fee / Day - Regular Size Packages: <span class="gray-clr">$0.75</span> </li>
                            <li> Storage Fee / Day - Oversized Packages: <span class="gray-clr">$1.50</span> </li>
                            <li> Storage Fee / Day - Pallet-sized Packages: <span class="gray-clr">$2</span> </li>
                        </ul>
                    </div>
                    <div class="text-center order-2">
                        <a href="#" class="btn-round"> Select </a>
                    </div>
                    <div class="pricing-hover clrbg-before clrbg-after transition"></div>
                </div>
            </div>
        </div>
    </div>               
</section>
<!-- /.Pricing & Plans -->
{% endblock content %}